<div class="card">
    <div class="card-image ">
        <figure class="image is-4by3 ">
            <img
                [src]="brew.imageURL || ''"
                alt="Placeholder image"
                onerror="this.onerror=null;this.src='assets/logo.png'"
            />
            <div class="distance-wrapper" *ngIf="brew?.distance">
                <p class="is-small distance">
                    {{ brew?.distance?.toFixed(1) }} miles
                </p>
            </div>
            <div class="like-button-wrapper" *ngIf="isAuthenticated()">
                <button
                    class="like-button"
                    mat-icon-button
                    color="warn"
                    aria-label="like button"
                    (click)="handleLiked(brew.id)"
                >
                    <mat-icon
                        *ngIf="brew?.userFavoriteBreweries?.userId && isLiked"
                        >favorite</mat-icon
                    >
                    <mat-icon
                        *ngIf="
                            brew.userFavoriteBreweries == null &&
                            isLiked === false
                        "
                        >favorite_outline</mat-icon
                    >
                </button>
            </div>
        </figure>
        <div class="ribbon-wrapper">
            <div class="ribbon">{{ brew.name }}</div>
        </div>
    </div>
    <div class="card-content card-color">
        <div>
            <img
                [src]="
                    brew.hasTShirt
                        ? 'assets/t-shirt.png'
                        : 'assets/noT-shirt.png'
                "
                class="img-bools"
                alt="Placeholder image"
            />
            <img
                [src]="
                    brew.hasMug ? 'assets/glasses.png' : 'assets/noGlasses.png'
                "
                class="img-bools"
                alt="Placeholder image"
            />
            <img
                [src]="
                    brew.hasGrowler
                        ? 'assets/growler.png'
                        : 'assets/noGrowler.png'
                "
                class="img-bools"
                alt="Placeholder image"
            />
            <img
                [src]="brew.hasFood ? 'assets/food.png' : 'assets/noFood.png'"
                class="img-bools"
                alt="Placeholder image"
            />
        </div>
        <div class="content description">
            {{ brew.description }}
        </div>
        <div>
            <span
                *ngFor="
                    let dummy of ' '.repeat(brew.avgReview).split('');
                    let x = index
                "
                class="fa fa-star checked"
            ></span>
            <span
                *ngFor="
                    let dummy of ' '.repeat(10 - brew.avgReview).split('');
                    let x = index
                "
                class="fa fa-star"
            ></span>
            {{ brew?.avgReview }} / 10
        </div>
    </div>
    <footer class="card-footer card-color">
        <a
            class="button card-footer-item  is-link is-rounded"
            [routerLink]="['/brewery/', brew.id]"
            >Details</a
        >
    </footer>
</div>
