<div class="row">
    <div class="column is-6">
        <input
            #filterName
            class="input"
            type="text"
            placeholder="Enter a location you would like to search..."
            #placesRef="ngx-places"
            ngx-google-places-autocomplete
        />
    </div>

    <div class="column is-1">
        <button
            mat-raised-button
            color="primary"
            (click)="handleAddressChange($event)"
        >
            Search
        </button>
    </div>
    <div class="column is-1">
        <button mat-raised-button color="accent" (click)="resetSearchFields()">
            Reset
        </button>
    </div>
</div>
<div class="row">
    <div class="column is-2">
        <mat-form-field>
            <mat-label>Distance</mat-label>
            <mat-select [(value)]="distance">
                <mat-option [value]="5">
                    5 miles
                </mat-option>
                <mat-option [value]="10">
                    10 miles
                </mat-option>
                <mat-option [value]="25">
                    25 miles
                </mat-option>
                <mat-option [value]="50">
                    50 miles
                </mat-option>
                <mat-option [value]="100">
                    100 miles
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <div class="column is-2">
        <mat-form-field>
            <mat-label>Beer Type</mat-label>
            <mat-select [(value)]="selectedBeerType">
                <mat-option
                    *ngFor="let beerType of beerTypes"
                    [value]="beerType.id"
                >
                    {{ beerType?.name }}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <div class="column is-2">
        <mat-form-field>
            <mat-label>Reviews</mat-label>
            <mat-select [(value)]="orderByReviewVal">
                <mat-option [value]="'DESC'">
                    Highest First
                </mat-option>
                <mat-option [value]="'ASC'">
                    Lowest First
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>
</div>

<ng-container *ngFor="let brewery of paginator?.items">
    <div class="column is-3 brewery-display">
        <brewtodo-brewery [brew]="brewery"></brewtodo-brewery>
    </div>
</ng-container>
<hr />
<nav class="pagination level" role="navigation" aria-label="pagination">
    <button
        *ngIf="!breweryService.isLocation"
        class="pagination-previous"
        (click)="getBreweries(paginator.previous)"
        [disabled]="paginator?.previous.length === 0"
    >
        Previous
    </button>
    <button
        *ngIf="breweryService.isLocation"
        class="pagination-previous"
        (click)="getBreweriesLocation(paginator.previous)"
        [disabled]="paginator?.previous.length === 0"
    >
        Previous
    </button>
    <ul class="pagination-list" *ngFor="let number of pageCount">
        <li>
            <button
                class="pagination-link"
                [class.is-current]="number === currentPage"
                (click)="getPageByNumber(number)"
                [disabled]="number === currentPage"
            >
                {{ number }}
            </button>
        </li>
    </ul>
    <button
        *ngIf="!breweryService.isLocation"
        class="pagination-previous"
        (click)="getBreweries(paginator.next)"
        [disabled]="paginator?.next.length === 0"
    >
        Next Page
    </button>
    <button
        *ngIf="breweryService.isLocation"
        class="pagination-previous"
        (click)="getBreweriesLocation(paginator.next)"
        [disabled]="paginator?.next.length === 0"
    >
        Next Page
    </button>
</nav>
