<div class="card">
    <div class="card-image ">
        <figure class="image is-4by3 ">
            <img
                [src]="brewery?.imageURL"
                alt="Placeholder image"
                onerror="this.onerror=null;this.src='assets/logo.png'"
            />
        </figure>
        <div class="ribbon-wrapper">
            <div class="ribbon">{{ brewery?.name }}</div>
        </div>
    </div>
    <div class="card-content card-color">
        <div>
            <img
                [src]="
                    brewery?.hasTShirt
                        ? 'assets/t-shirt.png'
                        : 'assets/noT-shirt.png'
                "
                class="img-bools"
                alt="Placeholder image"
            />
            <img
                [src]="
                    brewery?.hasMug
                        ? 'assets/glasses.png'
                        : 'assets/noGlasses.png'
                "
                class="img-bools"
                alt="Placeholder image"
            />
            <img
                [src]="
                    brewery?.hasGrowler
                        ? 'assets/growler.png'
                        : 'assets/noGrowler.png'
                "
                class="img-bools"
                alt="Placeholder image"
            />
            <img
                [src]="
                    brewery?.hasFood ? 'assets/food.png' : 'assets/noFood.png'
                "
                class="img-bools"
                alt="Placeholder image"
            />
        </div>
        <div class="content description">
            <p><b>Business Hours</b></p>
            {{ brewery?.businessHours }}
            <hr />
            <p><b>Contact Number</b></p>
            {{ brewery?.phoneNumber }}
            <hr />
            <p><b>About Us</b></p>
            {{ brewery?.description }}
        </div>
        <div>
            <span
                *ngFor="
                    let dummy of ' '.repeat(brewery?.avgReview).split('');
                    let x = index
                "
                class="fa fa-star checked"
            ></span>
            <span
                *ngFor="
                    let dummy of ' '.repeat(10 - brewery?.avgReview).split('');
                    let x = index
                "
                class="fa fa-star"
            ></span>
            {{ brewery?.avgReview }} / 10
        </div>
    </div>
</div>
