<div class="columns is-multiline" [@breweriesAnimation]="breweries?.length">
    <div class="column is-one-third" *ngFor="let brew of breweries">
        <div class="card">
            <div class="card-image ">
                <figure class="image is-4by3 ">
                    <img
                        [src]="brew.imageURL"
                        alt="Placeholder image"
                        onerror="this.onerror=null;this.src='assets/logo.png'"
                    />
                </figure>
                <div class="ribbon-wrapper">
                    <div class="ribbon">{{ brew.name }}</div>
                </div>
            </div>
            <div class="card-content card-color">
                <div>
                    <img
                        [src]="
                            brew.hasTShirt
                                ? 'assets/t-shirt.png'
                                : 'assets/noT-shirt.png'
                        "
                        class="img-bools"
                        alt="Placeholder image"
                    />
                    <img
                        [src]="
                            brew.hasMug
                                ? 'assets/glasses.png'
                                : 'assets/noGlasses.png'
                        "
                        class="img-bools"
                        alt="Placeholder image"
                    />
                    <img
                        [src]="
                            brew.hasGrowler
                                ? 'assets/growler.png'
                                : 'assets/noGrowler.png'
                        "
                        class="img-bools"
                        alt="Placeholder image"
                    />
                    <img
                        [src]="
                            brew.hasFood
                                ? 'assets/food.png'
                                : 'assets/noFood.png'
                        "
                        class="img-bools"
                        alt="Placeholder image"
                    />
                </div>
                <div class="content description">
                    {{ brew.description }}
                </div>
                <!-- <div>
                    <div *ngIf="brew.AverageRating < 2">
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                    </div>
                    <div
                        *ngIf="
                            brew.AverageRating >= 2 && brew.AverageRating < 4
                        "
                    >
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                    </div>
                    <div
                        *ngIf="
                            brew.AverageRating >= 4 && brew.AverageRating < 6
                        "
                    >
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                    </div>
                    <div
                        *ngIf="
                            brew.AverageRating >= 6 && brew.AverageRating < 8
                        "
                    >
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star"></span>
                    </div>
                    <div *ngIf="brew.AverageRating >= 8">
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                    </div>
                    Rating: {{ brew?.AverageRating }}
                </div> -->
            </div>
            <footer class="card-footer card-color">
                <!-- <a class="button card-footer-item  is-link is-rounded" [routerLink]="['/brewery/', brew.BreweryID]" [queryParams]="{ BreweryID: brew.BreweryID }">Details</a> -->
            </footer>
        </div>
    </div>
</div>
